.my-button {
    background: #000000;
    color: #808080;
    font-size: 24px;
    border: #000000;
    border-width: 1px;
    opacity: 0.4;
    transition: all 1s ease
}

.my-button:hover {
    background: #0000ff;
    color: #ffffff;
    opacity: 1;
}